body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.header-content h1 {
    margin: 0;
}

.contact-info {
    margin: 10px 0 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #333;
}

.education-item {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}
